.container-city-climate{
    background: var(--sunny);
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 8rem 2rem;
}

.sunny{
    background: var(--sunny);
    color: var(--white) !important;
    p{
        color: var(--white) !important;
    }
}

.snowy{
    background: var(--snowy);
    color: var(--black) !important;
}

.rainy{
    background: var(--rainy);
    color: var(--white) !important;
    p{
        color: var(--white) !important;
    }
}

.button-back{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    cursor: pointer;
}

// .button-back:hover{
//     color: var(--gray-800);
// }

.container-body{
    width: 20rem;

    article{
        margin-top: 0.5rem;
    }

}

.temp-hour-container-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.aside-top{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        color: var(--black);
        text-align: center;
    }

    .title{
        font: 200 1.8rem 'Urbanist', sans-serif;
        line-height: 1;
    }

    .subtitle{
        font: 100 1.1rem 'Urbanist', sans-serif;
    }
}

.container-temp-top{
    display: flex;
    flex-direction: row;
    align-items: inherit;
    margin-top: 0.5rem;

    > p{
       font-size: 6rem;
       flex: 2
    }

    .row-min-max-temp{
        display: flex;
        justify-content: space-between;
        width: 100%;

        >p{
            color: var(--gray-100) !important;
            margin: 0 0 0 0.5rem;
        }
        p{
            font-size: 0.8rem;
        }
    }

    .temp-top-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        flex: 1;
        > p {
            font-size: 1.5rem;
            margin-bottom: 0.7rem;
        }
    }

}

.after-test::before{
    content: '|';
    font-size: 1.4rem;
}

.astro-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .astro-column{
        padding: 1rem 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .astro-column-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .astro-content-children{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        p:first-child {
            margin-bottom: 0.5rem;
        }

        p{
            font-size: 12px;
        }
    }
    
}
