.astro-column{
    padding: 1rem 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.astro-column-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.astro-content-children{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    p:first-child {
        margin-bottom: 0.5rem;
    }

    p{
        font-size: 12px;
    }
}

.after-column::before{
    content: '|';
    font-size: 1.4rem;
}