.container-temp-hour{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 0.8rem;
    }

    .temp-hour{
        margin-top: 0.1rem;
    }
    
}